<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <connectionStrings>
      <remove name="LocalSqlServer"/>
      <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="server=192.168.55.12\SQLEXPRESS;database=itw;uid=sysmax;pwd=sysmax"/>
      <!--<add name="JasonConnection" providerName="System.Data.SqlClient" connectionString="server=Jason-PC\SQLEXPRESS;database=Test;uid=sa;pwd=password"/>-->
      <!--<add name="Test" providerName="System.Data.SqlClient" connectionString="server=10.48.64.5\sqlexpress;database=PatientGlobal;uid=sysmax;pwd=Condor!"/>-->
      <!--<add name="ITWProd" providerName="System.Data.SqlClient" connectionString="server=10.48.242.249,1433\sql2008;database=itw;uid=sysmax;pwd=Condor!"/>-->
      <!--<add name="MCareProd" providerName="System.Data.SqlClient" connectionString="server=10.48.242.249,1433\sql2008;database=mCareJH;uid=sysmax;pwd=Condor!"/>-->
    </connectionStrings>
  <appSettings>
    <add key="errorlog" value=""/>
    <add key="completionlog" value=""/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="FromEmailAddress" value="j0sanc02@gmail.com"/>
    <add key="toEmailAddress" value="jsanchez@systemaxcorp.com"/>
    <add key="otherEmailAddresses" value="jsanchez@systemaxcorp.com,j0sanc02@gmail.com"/>
  </appSettings>
</configuration>